.light-background {
  background-color: lightgray;
}
.dark-background {
  background-color: black;
  color: white;
}
#light {
  color: black;
  background-color: lightgray;
}
#dark {
  color: white;
  background-color: black;
}
.important {
  font-size: 70px;
  font-family: monospace;
  color: blue;
  text-shadow: 5px 5px 10px purple;
  text-align: center;
}

.highlight {
  font-style: oblique;
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 3px 3px 5px orange;
  text-decoration: underline;
}

.small {
  text-align: center;
  font-size: 10px;
  font-family: monospace;
  color: #c2d6df;
}

h2 {
  font-style: oblique;
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}

h3 {
  font-style: oblique;
  text-align: center;
  font-family: monospace;
  color: #1d87da;
  font-size: 40px;
}

p {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}

ul {
  text-align: center;
  list-style-position: inside;
  font-size: 20px;
  line-height: 30px;
  font-family: monospace;
}
